{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}



{% block contenido %}
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="https://play-lh.googleusercontent.com/3wReLLObI6rQP0QEut9h_9qR2AVBpZ7iBptTmnDH-Z3gpwTOtK-ZddV2oo6-ZUX4yhQ" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hip-Hop</h5>
            <p class="card-text">Titulo: <br>
                Precio: <br>
                Info:
            </p>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/972/281/original/symbol-of-rock-n-roll-concept-art-of-rock-music-in-monochrome-style-vector.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rock</h5>
            <p class="card-text">Titulo: <br>
                Precio: <br>
                Info:</p>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1400573689138135042/AhFnOIb__400x400.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pop</h5>
            <p class="card-text">Titulo: <br>
                Precio: <br>
                Info:</p>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1400573689138135042/AhFnOIb__400x400.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pop</h5>
            <p class="card-text">Titulo: <br>
                Precio: <br>
                Info:</p>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="https://play-lh.googleusercontent.com/3wReLLObI6rQP0QEut9h_9qR2AVBpZ7iBptTmnDH-Z3gpwTOtK-ZddV2oo6-ZUX4yhQ" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hip-Hop</h5>
            <p class="card-text">Titulo: <br>
                Precio: <br>
                Info:</p>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/972/281/original/symbol-of-rock-n-roll-concept-art-of-rock-music-in-monochrome-style-vector.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rock</h5>
            <p class="card-text">Titulo: <br>
                Precio: <br>
                Info:</p>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1400573689138135042/AhFnOIb__400x400.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pop</h5>
            <p class="card-text">Titulo: <br>
                Precio: <br>
                Info:</p>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1400573689138135042/AhFnOIb__400x400.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pop</h5>
            <p class="card-text">Titulo: <br>
                Precio: <br>
                Info:</p>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

{% endblock %}  